.root {
  width: 100%;
  margin: 0 0 20px;
  font-family: freight-big-pro, Arial, sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 1;
  text-transform: lowercase;
}

@media (max-width: 500px) {
  .root {
    margin-bottom: 10px;
  }
}
